	@font-face {
			  font-family: 'Montserrat'; 
			  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
			  font-style: normal;
			  font-weight: normal;
			}

			@font-face {
			  font-family: 'Montserrat-Italic'; 
			  src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
			  font-style: normal;
			  font-weight: normal;
			}